.container {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem 5rem;
  width: 100%;
  position: relative;
  p {
    margin-bottom: 1rem;
  }
}

.skipLink {
  position: absolute;
  top: -40px;
  left: 6px;
  background: var(--background);
  color: var(--text-color);
  padding: 8px;
  text-decoration: none;
  z-index: 100;
  border-radius: 4px;
  font-weight: normal;
}

.skipLink:focus-visible {
  top: 6px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.layoutXlarge {
  grid-template-columns: 1fr 600px 1fr;
}

.sidebar {
  grid-column: 1;
  justify-self: center;
  align-self: start;
  white-space: nowrap;
  position: sticky;
  top: 3.25rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
  width: 100%;
}

.content {
  grid-column: 2;
  width: 100%;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}

.controlPanel {
  margin: 0 auto 0.5rem auto;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  height: 3rem;
}

.header {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.mobileControlPanel {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 1rem 3rem;
  }

  .layout {
    grid-template-columns: 1fr;
    gap: 0;
    width: 100%;
    max-width: 500px;
  }

  .sidebar {
    grid-column: 1;
    justify-self: flex-start;
    padding: 0;
    margin-bottom: 1rem;
    position: static;
    justify-content: space-between;
  }

  .content {
    grid-column: 1;
    padding: 0 1rem;
    max-width: 100%;
  }

  .controlPanel {
    display: none;
  }

  .mobileControlPanel {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    padding-right: 1rem;
  }
}

@media (max-width: 432px) {
  .container {
    justify-content: flex-start;
    padding: 1rem 1rem 3rem;
  }
}

@media (max-width: 900px) {
  .layoutXlarge {
    grid-template-columns: 1fr 500px 1fr;
  }
}

@media (max-width: 768px) {
  .layout.layoutXlarge {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
  }
}
