article.blogPost h1 {
  text-align: center;
}

article.blogPost section ul {
  text-align: center;
}

article.blogPost p {
  margin: 0 auto 1em;
  max-width: 640px;
  text-align: justify;
}

article.blogPost > h1 {
  text-transform: uppercase;
}