div.draggable {
  display: block;
}

div.draggable:hover {
  cursor: grab;
}

div.draggable:active {
  cursor: grabbing;
}

div.galleryImages {
  margin: 3rem auto;
}

div.galleryImages div.galleryImage {
  margin-bottom: 2rem;
}

div.galleryImages img {
  display: inline-block;
  max-width: 100%;
}

div.galleryImages.grid {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.galleryImages.grid img {
  min-width: 100px;
  min-height: 80%;
  display: inline-block;
  max-width: 100%;
  border: 5px solid #000;
}

@media only screen and (min-width: 400px) {
  div.galleryImages.grid img {
    max-width: 320px;
  }
}

@media only screen and (min-width: 1200px) {
  div.galleryImages.grid img {
    max-width: 250px;
  }
}
