hr.hr {
  margin-top: 3rem;
  border: none;
  height: 1px;
  color: #DEDEDE;
  background-color: #DEDEDE;
}

ul.languages {
  margin: 0.5rem 0;
}

ul.languages li{
  display: inline-block;
  color: #222222;
  margin-right: 0.5rem;
}

ul.languages li button {
  color: #222222;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem;
}

ul.languages li button:hover {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}

ul.languages li.active button {
  font-weight: 600;
}

button.languageOption {
  border: 0;
  background: 0;
}