.title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.2rem 0;
}

.icon {
  font-weight: 800;
  margin-right: 0.25rem;
}

.externalIcon {
  font-size: 16px;
  font-weight: 600;
}

.linkList {
  margin: 1.5rem 0;
  padding: 0;
}

.linkList ul {
  margin: 0;
}

.linkList ul li {
  margin: 0.25rem 0;
}

.link a {
  color: #666;
}
