span.resultsCount {
    margin: 1rem 0;
    display: block;
    text-align: center;
}

strong.showCount {
    font-style: normal;
    margin-left: 0.5rem;
    background-color: #444;
    color: #FFF;
}

ul.artistList li {
    line-height: 1.75rem;
}

section.concertLog {
    text-align: center;
    margin-bottom: 2rem;
}

section.concertLog p {
    text-align: center;
}

section.lastUpdated {
    text-align: center;
    background: #EFEFEF;
}

section.lastUpdated pre {
    display: inline-block;
}