.companyLink,
.companyLink:visited {
  font-weight: 400;
  color: #282561;
}
.companyLink:hover {
  color: #533feb;
}

.company {
  display: block;
}

.past {
  text-decoration: line-through;
}

.companies span {
  display: block;
}

.mainContent {
  background: url("/images/bg.svg");
  background-size: 4px 24px;
  background-position: right 20px top;
}
