.companyLink,
.companyLink:visited {
  font-weight: 600;
  color: #282561;
}
.companyLink:hover {
  color: #533feb;
}

.company {
  display: block;
}

.icon {
  font-weight: 800;
  font-size: 24px;
  margin-right: 0.25rem;
}

.companies span {
  display: block;
}