.skipLink {
  position: absolute;
  top: -40px;
  left: 6px;
  background: var(--background);
  color: var(--text-color);
  padding: 8px;
  text-decoration: none;
  z-index: 100;
  border-radius: 4px;
  font-weight: normal;
}

.skipLink:focus-visible {
  top: 6px;
}

.controlPanel {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  height: 3rem;
}

main.contentContainer {
  padding: 0 1rem;
}

div.content {
  max-width: 500px;
  margin: 3rem auto 3rem auto;
  ul {
    list-style-type: none;
  }
}

@media (max-width: 768px) {
  div.content {
    margin: 1rem auto 2rem auto;
    padding: 0 1rem;
  }

  .controlPanel {
    margin-bottom: 0;
  }
}

@media (max-width: 432px) {
  .controlPanel {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

section.intro {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  text-transform: uppercase;
}

.title {
  opacity: 0.6;
}

p.not_found_return_home {
  margin-top: 3rem;
}
