@font-face {
  font-display: swap;
  font-family: "TroisMilleBlackItalic-30";
  src: url("/fonts/TroisMilleBlackItalic-30.woff2") format("woff2"),
    url("/fonts/TroisMilleBlackItalic-30.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("/fonts/Inter-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("/fonts/Inter-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}