.heading {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
}

.h4 {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}
