.toggle {
  background: none;
  /* border: 1px solid color-mix(in srgb, var(--text-color) 40%, transparent); */
  border: none;
  border-radius: 50%;
  padding: 4px;
  background-color: color-mix(in srgb, var(--text-color) 15%, transparent);
  color: color-mix(in srgb, var(--text-color) 80%, transparent);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.16s ease, background 0.16s ease, color 0.16s ease, border 0.16s ease;
  width: 28px;
  height: 28px;
}

.toggleWrapper {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle:hover {
  background-color: color-mix(in srgb, var(--text-color) 90%, transparent);
  color: color-mix(in srgb, var(--background) 90%, transparent);
}

.toggle:focus-visible {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
}

.toggle:active {
  transform: scale(0.95);
}